# Ignore Vite types
node_modules/vite/types/hmrPayload.d.ts
node_modules/vite/types/hot.d.ts
node_modules/vite/types/import-meta.d.ts
node_modules/vite/types/importGlob.d.ts
node_modules/vite/types/importMeta.d.ts
node_modules/vite/types/metadata.d.ts
node_modules/vite/types/package.json

# Ignore entire node_modules directory
node_modules/
